
div {
    border-radius: 2px;
    background-color:wheat;
    padding: 20px;
  }
  .jumbotron{
      text-align: center;
      width:100%;
      background:linear-gradient(to right, wheat,chocolate, wheat);
  }
  h1{
    font-family: "Bree Serif", serif;
    
  }
  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
  }
  
  label {
    font-family: "Roboto Slab", serif;
    color: black;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 20%;
    background-color: chocolate;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: 2px;
    border-radius: 25px;
    cursor: pointer;
  }
  input[type="reset"] {
    width: 20%;
    background-color: chocolate;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: 2px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: coral;
  }
  input[type="reset"]:hover {
    background-color: coral;
  }
  
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .output{
    background-color: white;
  }
  